{% extends 'artbase/main.html' %}
{% block title %}
{{ page_title|default:'Lista Street Art' }}
{% endblock title %}
{% block content %}
<ul class="list-group">
  {% for art in art_list %}
  <li class="list-group-item">
      <span class="text-info">Tytuł </span> <span>{{ art.art.title }}</span>
      <br>
      <span class="text-info">Artysta: </span><span>{{ art.art.artist }}</span>
      <br>
      <span class="text-info">Miasto: </span><span>{{ art.art.location.city }}</span>
      <br>
      <span class="text-info">Ocena: </span><span class="badge badge-secondary badge-pill">{{ art.art_rating }}</span>
      <br>
      <span class="text-info">Liczba recenzji: </span><span>{{ art.number_of_reviews }}</span>
      <br>
      {% if not art.art_rating %}
      <span class="text-secondary">Napisz pierwszą recenzję.</span>
      <br>
      {% endif %}
      <br>
      <a href="{% url 'art-detail' art.art.pk %}" class="btn btn-secondary btn-lg btn-sm active" role="button">Szczegóły Street Artu</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
