{% extends 'artbase/main.html' %}
{% block title %}
{{ page_title|default:'Szczegółowe informacje' }}
{% endblock title %}
{% block content %}
    <br>
    <h2>Szczegółowe informacje o Street Art</h2>
    <hr>
    <span class="text-info">Tytuł: </span> <span>{{ art.title }}</span>
    <br>
    <span class="text-info">Artist: </span><span>{{ art.artist }}</span>
    <br>
    <span class="text-info">Typ: </span><span>{{ art.category.get_type_name }}</span>
    <br>
    <span class="text-info">Rok stworzenia: </span><span>{{ art.year }}</span>
    <br>
    <span class="text-info">Miasto: </span><span>{{ art.location.city }}</span>
    <br>
    <span class="text-info">Opis: </span><span>{{ art.description }}</span>
    <br>
    {% if not reviews %}
        <hr>
        <h3>Napisz pierwszą recenzję.</h3>
    {% else %}
        <span class="text-info">Ocena ogólna: </span><span class="badge badge-primary badge-pill">{{ art_rating }}</span>
        <br>
        <hr>
        <h1>Recenzje</h1>
        <ul>
            {% for review in reviews %}
                <li class="list-group-item">
                    <span class="text-info">Recenzja: </span> <span>{{ review.content }}</span>
                    <br>
                    <span class="text-info">Data utworzenia: </span><span>{{ review.date_created }}</span>
                    <br>
                    <span class="text-info">Data edycji: </span><span>{{ review.date_edited }}</span>
                    <br>
                    <span class="text-info">Ocena: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                    <br>
                    <span class="text-info">Twórca: </span><span>{{ review.creator.username }}</span>
                    <br>
                    <a href="{% url 'review-edit' art.pk review.pk %}" class="btn btn-secondary btn-lg btn-sm active" role="button">Edytuj recenzję</a>
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <a href="{% url 'review-create' art.pk %}" class="btn btn-secondary btn-lg btn-sm active" role="button">Dodaj recenzję</a>
{% endblock %}