{% extends 'artbase/main.html' %}
{% block content %}

<style>
    body {
        background-color: #c9cad9;
    }
    .art-item__image {
        width: 30%;
    }
</style>
<br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-sm" type="submit">Wyślij</button>
    </form>
    <br>
    <h4>Zdjęcia:</h4>
    <div class="art-item__image">
        {% if photos %}
            <div class="row">
              {% for photo in photos %}
                  <div class="col-md-4">
                    <a href="{{ photo.photo.url }}" target="_blank">
                      <img src="{{ photo.photo.url }}" alt="Photo" class="img-thumbnail">
                    </a>
                  </div>
              {% endfor %}
            </div>
        {% else %}
            <div class="col-md-12">
                <p>Nie ma jeszcze żadnych zdjęć</p>
            </div>
    </div>
    {% endif %}
{% endblock %}