Django==4.2
django-simple-captcha==0.5.17
folium==0.14.0
geopy==2.3.0
image==1.5.33
ipython==8.13.1
nominatim==0.1
Pillow==9.5.0
psycopg2-binary==2.9.6
pytest==7.3.1
pytest-django==4.5.2
python==3.10
